<% dice1 = rand(1..6)%>
<%= "dice 1: #{dice1}"%>
<br>
<br>

<% dice2 = rand(1..6)%>
<%= "dice 2: #{dice2}"%>
<br>
<br>

<% total = dice1+dice2%>
<%="You rolled: #{total}"%>
<br>
<br>

 <p>
 <img src = "/images/dice/<%=dice1%>.svg" alt ="">
 <img src = "/images/dice/<%=dice2%>.svg" alt ="">
 <p>
 <br>
 <br>


<a href = "/dice"> Roll again </a>
 
